@model IEnumerable<Movie>

@foreach (var movies in Model)
{
<div class="card mb-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/img/@movies.ImageUrl" alt="" class="card-img">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    @* <a href="/home/details/@movies.Id">@movies.Name</a> *@
                    <a asp-action="Details" asp-controller="Home" asp-route-id="@movies.Id">@movies.Name</a>
                </h5>
                <p class="card-text">@movies.ShortDescription</p>
                <p class="card-text">
                    <small class="text-muted">3 days ago</small>
                </p>
            </div>
        </div>
    </div>
</div>
}